:root {
  --md-primary-fg-color: #1f2937;
  --md-accent-fg-color: #2563eb;
}
.md-typeset h1 { font-weight: 700; }
.md-typeset .admonition.interview, .md-typeset details.interview {
  border-color: #7c3aed;
}
.md-typeset .interview > .admonition-title, .md-typeset .interview > summary {
  background-color: rgba(124, 58, 237, 0.1);
  border-color: #7c3aed;
}
.md-typeset .interview > .admonition-title::before, .md-typeset .interview > summary::before {
  background-color: #7c3aed;
  -webkit-mask-image: var(--md-admonition-icon--question);
          mask-image: var(--md-admonition-icon--question);
}
.md-typeset .admonition.production, .md-typeset details.production {
  border-color: #059669;
}
.md-typeset .production > .admonition-title, .md-typeset .production > summary {
  background-color: rgba(5, 150, 105, 0.1);
  border-color: #059669;
}
.md-typeset .production > .admonition-title::before, .md-typeset .production > summary::before {
  background-color: #059669;
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}
.md-typeset table:not([class]) { font-size: 0.8rem; }
.md-typeset img { border-radius: 4px; }
